header {
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: black;
  height: 70px;
}

.top-page-header {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
}

.title-icon {
  height: 70px;
}

.list {
  display: flex;
  list-style: none;
}

/* ヘッダーアイコン共通 */
.fa-sign-in-alt, .fa-sign-out-alt, .fa-pencil-alt, .fa-user-edit {
  margin-right: 50px;
  font-size: 50px;
  opacity: 0.7;
}

.fa-sign-in-alt:hover, .fa-sign-out-alt:hover, .fa-pencil-alt:hover, .fa-user-edit:hover {
  opacity: 1;
}

.fa-sign-in-alt {
  color: blue;
}

.fa-sign-out-alt {
  color: lemonchiffon;
}

.fa-pencil-alt {
  color: aqua;
}

.fa-user-edit {
  color: palevioletred;
}


.sign-up {
  background-color: tomato;
  text-decoration: none;
  padding: 10px;
  color: black;
  font-size: 30px;
  margin: auto 0;
  border-radius: 5px;
  color: aliceblue;
  box-shadow: 5px 5px black;
}

.sign-up:active {
  position: relative;
  top: 5px;
  right: 5px;
  box-shadow: none;
}


