header {
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: black;
  height: 70px;
}

.top-page-header {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
}

.title {
  display: flex;
  align-items: center;
}

.header-nickname {
  color: aliceblue;
  margin-left: 30px;
  font-size: x-large;
}

.title-icon {
  height: 70px;
}

.list {
  display: flex;
  list-style: none;
}

/* ヘッダーアイコン共通 */
.fa-sign-in-alt, .fa-sign-out-alt, .fa-pencil-alt, .fa-user-edit {
  margin-right: 50px;
  font-size: 50px;
  opacity: 0.7;
}

.fa-sign-in-alt:hover, .fa-sign-out-alt:hover, .fa-pencil-alt:hover, .fa-user-edit:hover {
  opacity: 1;
}

.fa-sign-in-alt {
  color: skyblue;
}

.fa-sign-out-alt {
  color: lemonchiffon;
}

.fa-pencil-alt {
  color: aqua;
}

.fa-user-edit {
  color: palevioletred;
}


.sign-up {
  background-color: tomato;
  text-decoration: none;
  padding: 10px;
  color: black;
  font-size: 30px;
  margin: auto 0;
  border-radius: 5px;
  color: aliceblue;
  box-shadow: 5px 5px white;
}

.sign-up:hover {
  position: relative;
  top: 5px;
  left: 5px;
  box-shadow: none;
}

@media (max-width: 599px) {
  header {
    height: 30px;
  }

  .top-page-header {
    padding: 0 50px;
  }

  .title-icon {
    height: 30px;
  }

  .fa-sign-in-alt, .fa-user-edit, .fa-sign-out-alt, .fa-pencil-alt{
    font-size: 15px;
  }

  .sign-up {
    font-size: 5px;
    box-shadow: none;
    background-color: transparent;
  }

  .header-nickname {
    font-size: 15px;
  }

}



