.room {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background-image: image-url('book.png');
  background-size: cover;
  display: flex;
  justify-content: center;
  position: relative;
}

.room-contents {
  width: 50%;
  min-height: 100vh;
  height: 100%;
  margin: auto;
  background-color: white;
  background:rgba(255, 255, 255, 0.8);
}

.room-title {
  font-weight: bold;
  font-size: 25px;
  text-align: center;
}

.room-bottom-contents {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-around;
}

.room-form {
  margin: 0 40px;
  padding: 20px 0;
}

.room-content-form {
  width: 30vw;
  height: 70px;
  padding: 5px;
}

.room-btn {
  width: 10vw;
  height: 50px;
  margin: auto 0;
}
 