.room {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background-image: image-url('book.png');
  background-size: cover;
  display: flex;
  justify-content: center;
}

.room-contents {
  width: 50%;
  min-height: 100vh;
  height: 100%;
  margin: auto;
  background-color: white;
  background:rgba(255, 255, 255, 0.8);
  padding: 0 20px;
}
// タイトル
.room-title {
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  margin: 30px 0;
}
.message-content {
  border: 1px solid black;
  background-color: rgba(128, 255, 0, 0.5);
  color: black;
  display: inline-block;
  margin: 5px;
  padding: 5px 15px;
  border-radius: 10%;
}

.message-image {
  display: inline-block;
}

.room-bottom-contents {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-around;
}

.form {
  bottom: 0;
  margin: 30px 0;
}

.room-form {
  margin: 0 auto;
}

.room-content-form {
  width: 30vw;
  height: 60px;
  padding: 5px;
  margin: 0 auto;
}

.room-btn {
  padding: 5px;
  box-shadow: 5px 5px black;
  background-color: skyblue;
}

.room-btn:active {
  position: relative;
  top: 5px;
  left: 5px;
  box-shadow: none;
}

.fa-camera {
  color: black;
  font-size: xx-large;
}

.fa-paper-plane {
  font-size: 30px;
}