<div class="footer">
  <ul class="footer-list">
    <li class="footer-list-content"><%= link_to "ホーム", root_path %></li>
    <li class="footer-list-content">
      <% if user_signed_in? %>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "ログイン", new_user_session_path %>
      <% end %>
    </li>
    <li class="footer-list-content" id="modal"><a href="#">利用方法</a></li>
    <li class="footer-list-content"><a href="#">お問い合わせ</a></li>
  </ul>
</div>
