//画面上部

.top-contents {
  background-image: image-url('try.png');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 500px;
  object-fit: cover;
  color:white;
  align-items: center;
  position: relative;
}

.service-title {
  font-size: 8vh;
  text-shadow: 5px 5px 5px black;
  position: absolute;
  top: 40%;
}

.service-text {
  position: absolute;
  top: 60%;
  font-size: 4vh;
  text-shadow: 5px 5px 5px black;
}

span {
  color: red;
}

//単語帳とチャットルーム説明
.main-contents {
  padding: 60px 20px;
}

.contents-title {
  font-size: 8vh;
  text-align: center;
}

.words-contents {
  display: flex;
  justify-content: center;
  margin: 100px 0;
}

.pc-pict {
  width: 30%;
  height: auto;
  margin-right: 40px;
}

.words-title {
  font-size: 5vh;
}

.rooms-contents {
  display: flex;
  justify-content: center;
  margin: 100px 0;
}

.rooms-title {
  font-size: 5vh;
}

.meeting-pict {
  width: 30%;
  height: auto;
  margin-left: 40px;
}

.user-lists{
  padding: 0 60px 20px 60px;
}

.user-photo {
  border: 5px solid black;
  border-radius: 5%;
}

.user-list {
  display:  inline-block;
  margin: 60px 20px;
}

.user-nickname {
  text-align: center;
}

.user-nickname a {
  font-size: 5vh;
  color: black;
  text-decoration: none;
}

