//画面上部

.top-part {
  height: 100vh;
}

.top-contents {
  background-image: image-url('toppage.png');
  background-size: cover;
  background-position: center;
  width: 100%;
  height:100vh;
  object-fit: cover;
  color:white;
  display: none;
}

.service-title {
  font-size: 10vh;
  text-shadow: 5px 5px 5px black;
  text-align: center;
  line-height: 90vh;
  display: none;
  font-weight: bold;
}

.service-explain {
  font-size: xx-large;
  font-weight: bold;
}

.service-explain span {
  color: yellow;
}

//単語帳とチャットルーム説明
.main-contents {
  padding: 60px 20px;
}

.contents-title {
  font-size: 8vh;
  text-align: center;
}

.words-contents {
  display: flex;
  justify-content: center;
  margin: 100px 0;
}

.pc-pict {
  width: 30%;
  height: auto;
  margin-right: 40px;
}

.words-title {
  font-size: 5vh;
}

.btn {
  margin-top: 20px;
}

// ボタン
.words-enter-btn, .room-enter-btn {
  background-color: yellow;
  color: black;
  font-size: xx-large;
  padding: 10px 20px;
  text-decoration: none;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
  border-radius: 5%;
}

.words-enter-btn:hover, .room-enter-btn:hover {
  position: relative;
  top: 5px;
  left: 5px;
  box-shadow: none;
}

// 表示ボタン
.contents-title-enter {
  margin: 10px 0;
  text-align: center;
}

.words-enter-btn-second, .room-enter-btn-second {
  text-decoration: none;
  color: black;
  font-size: 3vh;
  text-align: center;
  font-style: italic;
  font-family: Times New Roman, "ＭＳ Ｐゴシック";
  border-bottom:1px solid black;
}

.rooms-contents {
  display: flex;
  justify-content: center;
  margin: 100px 0;
}

.rooms-title {
  font-size: 5vh;
}


.meeting-pict {
  width: 30%;
  height: auto;
  margin-left: 40px;
}

// ユーザー情報表示

.user-lists{
  padding: 0 60px 20px 60px;
}

.user-photo {
  border: 5px solid black;
  border-radius: 5%;
}

.user-list {
  display:  inline-block;
  margin: 60px 20px;
}

.nickname {
  text-decoration: none;
}

.user-nickname {
  text-align: center;
  text-decoration: none;
  color: black;
  font-size: xx-large;
  font-family: Arial, Helvetica, sans-serif;
}

.user-nickname span {
  text-decoration: none;
}

// ルームアイコン
.room-lists {
  padding: 0 60px 20px 60px;
}

.room-list {
  display: inline-block;
  margin: 60px 40px;
  position: relative;
}

.room-icon {
  font-size: 15.0em;
  color: black;
}

.room-name {
  position: absolute;
  top: 20%;
  left: 25%;
  font-weight: bold;
  color: brown;
  font-style: italic;
  font-family: Times New Roman, "ＭＳ Ｐゴシック";
  font-size: xx-large;
}

.room-name-list {
  text-decoration: none;
  color: brown;
}

.room-name-list:hover {
  opacity: 0.5;
}

.fa-trash-alt {
  color: gray;
  font-size: xx-large;
  opacity: 0.7;
}

.fa-trash-alt:hover {
  opacity: 1;
}

/* 蛍光ペン装飾 */
.words-title span, .words-details span, .rooms-title span, .rooms-details span {
  position: relative;
  background: linear-gradient(transparent 40%, yellow 40%);
}

// レスポンシブWEBデザイン
/* スマホ表示時 */
@media (max-width: 599px) {
  // 帯部分
  .top-contents {
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .service-title {
    font-size: 7vh;
  }
  
  .service-text {
    font-size: 4vh;
  }

  .service-explain {
    display: none;
  }
  //  単語帳とチャットルーム説明
  .words-contents, .rooms-contents {
    margin: 30px 0;
  }

  .contents-title {
    font-size: xx-large;
  }

  .words-title, .room-title {
    font-size: 15px;
  }

  .words-details, .rooms-details {
    font-size: 5px;
  }

  .words-enter-btn, .room-enter-btn {
    font-size: 10px;
  }

  // player一覧
  .user-list {
    margin: 0 20px;
  }

  .user-photo {
    height: 100px;
    width: 100px;
    border-radius: 100%;
  }

  .user-nickname {
    font-size: 15px;
  }

  
}

