//画面上部

.top-part {
  height: 100vh;
}

.top-contents {
  background-image: image-url('toppage.png');
  background-size: cover;
  background-position: center;
  width: 100%;
  height:100vh;
  object-fit: cover;
  color:white;
  display: none;
}

.service-title {
  font-size: 10vh;
  text-shadow: 5px 5px 5px black;
  text-align: center;
  line-height: 90vh;
  display: none;
  font-weight: bold;
}

.service-explain {
  font-size: xx-large;
  font-weight: bold;
}

.service-explain span {
  color: yellow;
}

//単語帳とチャットルーム説明
.main-contents {
  padding: 60px 20px;
}

.contents-title {
  font-size: 8vh;
  text-align: center;
}

.words-contents {
  display: flex;
  justify-content: center;
  margin: 100px 0;
}

.pc-pict {
  width: 30%;
  height: auto;
  margin-right: 40px;
}

.words-title, .rooms-title {
  font-size: 5vh;
}

// 表示ボタン
.contents-title-enter {
  margin: 10px 0;
  text-align: center;
}

.words-enter-btn-second, .room-enter-btn-second {
  text-decoration: none;
  color: black;
  font-size: 3vh;
  text-align: center;
  font-style: italic;
  font-family: Times New Roman, "ＭＳ Ｐゴシック";
  border-bottom:1px solid black;
}

.rooms-contents {
  display: flex;
  justify-content: center;
  margin: 100px 0;
}

.rooms-title {
  font-size: 5vh;
}


.meeting-pict {
  width: 30%;
  height: auto;
  margin-left: 40px;
}

// ユーザー情報表示

.user-lists{
  padding: 0 60px 20px 60px;
}

.user-photo {
  border: 5px solid black;
  border-radius: 5%;
}

.user-list {
  display:  inline-block;
  margin: 60px 20px;
}

.nickname {
  text-decoration: none;
}

.user-nickname {
  text-align: center;
  text-decoration: none;
  color: black;
  font-size: xx-large;
  font-family: Arial, Helvetica, sans-serif;
}

.user-nickname span {
  text-decoration: none;
}

// ルームアイコン
.room-lists {
  padding: 0 60px 20px 60px;
}

.room-list {
  display: inline-block;
  margin: 60px 40px;
  position: relative;
}

.room-icon {
  font-size: 15.0em;
  color: black;
}

.room-name {
  position: absolute;
  top: 20%;
  left: 25%;
  font-weight: bold;
  color: brown;
  font-style: italic;
  font-family: Times New Roman, "ＭＳ Ｐゴシック";
  font-size: xx-large;
}

.room-name-list {
  text-decoration: none;
  color: brown;
}

.room-name-list:hover {
  opacity: 0.5;
}

.fa-trash-alt {
  color: gray;
  font-size: xx-large;
  opacity: 0.7;
}

.fa-trash-alt:hover {
  opacity: 1;
}

/* 蛍光ペン装飾 */
.words-title span, .words-details span, .rooms-title span, .rooms-details span {
  position: relative;
  background: linear-gradient(transparent 40%, yellow 40%);
}

// モーダル表示
.how-to-use {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: none;
}

.modal-content {
  position: absolute;
  top: 20%;
  left: 34%;
  background-color: white;
  border-radius: 10px;
  width: 60vh;
  height: 40vh;
  text-align: center;
  padding: 20px 10px;
}

.modal-title {
  font-weight: bold;
}

.modal-voca {
  color: red;
}

.modal-sentence {
  margin: 15px auto;
  font-size: 15px;
}

.fa-times {
  position: absolute;
  top: 12px;
  right: 12px;
  color: rgba(128, 128, 128, 0.46);
  cursor: pointer;
}

// アコーディオン
.faq-wrapper {
  width: 50vw;
  margin: 0 auto;
  padding: 60px 20px;
}

.faq-list-item {
  margin:10px;
  border-bottom:1px solid #ccc;
  position:relative;
  cursor:pointer;
  text-align: left;
}

.faq-list-item h3 {
  font-size: 20px;
}

.faq-list-item span {
  position:absolute;
  top:0;
  right:5px;
  color:#ccc;
  font-size:13px;
}

.answer {
  font-size: 15px;
  display: none;
  padding: 5px 0px;
  margin-bottom: 15px;
}

// トップページ中段ボタン装飾
.btn,
button.btn {
  font-size: 2.0rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

.btn-flat {
  overflow: hidden;
  padding: 1.5rem 6rem;
  color: #fff;
  border-radius: 0;
  background: #000;
  border-radius: 10px;
}

.btn-flat span {
  position: relative;
}

.btn-flat:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 150%;
  height: 500%;
  content: "";
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
  background: yellowgreen;
}

.btn-flat:hover:before {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

// レスポンシブWEBデザイン
/* スマホ表示時 */
@media (max-width: 599px) {
  // 帯部分

  .top-part {
    height: 50vh;
  }

  .top-contents {
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .service-title {
    font-size: 5vh;
    line-height: 50vh;
  }
  
  .service-text {
    font-size: 4vh;
  }

  .service-explain {
    display: none;
  }
  //  単語帳とチャットルーム説明
  .words-contents, .rooms-contents {
    margin: 30px 0;
  }

  .contents-title {
    font-size: xx-large;
  }

  .words-title, .rooms-title {
    font-size: 15px;
  }

  .words-details, .rooms-details {
    font-size: 5px;
  }

  .words-enter-btn, .room-enter-btn {
    font-size: 10px;
  }

  // player一覧
  .user-list {
    margin: 0 20px;
  }

  .user-photo {
    height: 100px;
    width: 100px;
    border-radius: 100%;
  }

  .user-nickname {
    font-size: 15px;
  }

  // modal
  .modal-content {
    position: absolute;
    left: 17%;
  }

  .btn,
button.btn {
  font-size: 5px;
}

.btn-flat {
  padding: 10px;
}

.btn-flat:before {
  background-color: black;
}
  
}

