.new-contents {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background-image: image-url('book.png');
  background-size: cover;
  display: flex;
  justify-content: center;
}

.contens-form {
  width: 50%;
  height: 100%;
  margin: auto;
  background-color: white;
  background:rgba(255, 255, 255, 0.8);
}

.keyword-contents-title {
  font-weight: bold;
  font-size: 25px;
  text-align: center;
}

.form-detail {
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
  font-size: 20px;
}

// 共通部分
.form-title {
  font-weight: bold;
  font-size: 20px;
}

.word-upload, .genre-upload, .instruction-upload, .submit-btn-contents, .audio-upload, .room-upload, .member-upload{
  text-align: center;
  margin: 30px 0;
}

// キーワード、ルーム名
.word-form-area, .room-form-area{
  width: 60%;
  height: 10%;
  padding: 0 5px;
}

// 説明文
.keyword-instruction {
  width: 80%;
  height: 40%;
  padding: 5px;
}

// レスポンシブデザイン
@media (max-width: 599px) {
  .contens-form {
    width: 80%;
  }
}