<%= render "shared/header" %>

<div class="room">
  <div class="room-contents">
    <div class="room-title">
      <%= "#{@room.name}の学習レポート" %>
    </div>
    <div class="room-main- contents">
    </div>
  </div>
</div>