<div class="new-contents">
  <div class="contens-form">
    <h2 class="keyword-contents-title">新規投稿</h2>
    <h1 class="form-detail">全ての項目が必須です</h1>
      <%= render partial: "form", locals: { keyword: @keyword } %>
  </div>
</div>