.session-main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-image: image-url('programming.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.session-form {
  margin: auto;
  width: 50%;
  height: 60%;
  background-color: #ccc;
  background:rgba(255, 255, 255, 0.8);
  display: inline-block;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-title {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: x-large;
  font-weight: bold;
}

.field {
  text-align: center;
}

.form-text-wrap {
  
}

.input-form {
  width: 80%;
  margin-top: 5px;
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  resize: none;
}

.actions {
  text-align: center;
}

.login-btn {
  width: 30%;
  height: 40px;
  margin-bottom: 20px;
}

