.mypage {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background-image: image-url('book.png');
  background-size: cover;
}

.user-name {
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: xx-large;
  text-align: center;
  color: white;
  font-weight: bold;
}

table {
  margin: 20px auto;
  border: 5px solid black;
  width: 80%;
  background-color: white;
}

th {
  background-color: aqua;
  text-align: center;
  border: 1px solid black;
  font-weight: bold;
}

tr td{
  border: 1px solid black;
}

.keyword-title {
  text-align: center;
}

.operate-list {
  width: 20%;
  display: none;
}

.edit-destroy {
  border: 1px solid black;
  list-style: none;
}
.edit-page {
  border-bottom:1px solid black;
  background-color: orange;
}

.go-to-edit, .go-to-destroy {
  color: black;
  text-decoration: none;
}

.destroy-page {
  background-color: yellow;
}

.keyword-title {
  font-weight: bold;
}

.form-genre {
  text-align: center;
  padding: 0 10px;
}

.page-btn {
  font-size: 10px;
  width: 5%;
}

.form-instruction-sentence {
  width: 60%;
}

.form-instruction {
  padding-left: 10px;
  display: flex;
  align-items: center;
}

.instruction-sentence {
  margin-left: 30px;
  padding: 10px 0;
}

.fa-eye {
  color: blue;
}

.good-btn, .bad-btn {
  text-align: center;
}

.fa-check-circle {
  color: green;
}

.fa-times-circle {
  color: red;
}

.hidden {
  display: none;
}

.dummy-image {
  text-align: center;
}

.fa-laptop {
  color: aqua;
}